.game-container {
  width: 663px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-right: 175px;
}

.game-time {
  width: fit-content;
  padding: 24px;

  background: #ededed;
  border-radius: 12px;

  font-style: normal;
  font-weight: 900;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.25px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}

.game-step {
  width: 400px;
  padding: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 12px;

  font-size: 20px;
  letter-spacing: 0.15px;

  color: var(--clr-gray-white);
  background: var(--clr-gray-700);
}
