.chat-container {
  width: 412px;
  /* height: 851px; */
  height: 787px;
  align-self: flex-end;
  margin-bottom: 93px;
}

.scrollable-wrapper {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  --mask-image: linear-gradient(
    180deg,
    transparent 37.38px,
    rgba(0, 0, 0, 1) 100px,
    rgba(0, 0, 0, 1) calc(100% - 32px),
    transparent 99%
  );
  mask-repeat: no-repeat, no-repeat;
  mask-image: var(--mask-image);
  -webkit-mask-image: var(--mask-image);
}

.scrollable-wrapper::-webkit-scrollbar {
  display: none;
}
.msgs-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 412px;
  /* height: 803px; */
  height: 739px;

  padding-bottom: 20px;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: #898993;
}
.msg-interactive-elements {
  display: flex;
  gap: 12px;
  width: 100%;
}

.msg-interactive-elements textarea {
  resize: none;
  height: 48px;
  /* width: -webkit-fill-available; */
  max-height: max-content;
  overflow: hidden;
  padding: 12px 20px;
  background: var(--clr-gray-white);
  border: 1px solid var(--clr-gray-100);
  border-radius: 12px;
  font: inherit;
}
.msg-interactive-elements textarea::placeholder {
  color: var(--clr-gray-300);
}
.msg-interactive-elements > button {
  width: 48px;
}
