.input {
  width: 100%;
  height: 48px;
  padding: 12px 20px;
  border-radius: 12px;
  font: inherit;
  background-color: var(--clr-gray-white);
  border: 1px solid var(--clr-gray-100);
  outline: none;
}

input[type='textarea'] {
  resize: none;
  max-height: max-content;
  overflow: hidden;
}
.input::placeholder {
  border-color: var(--clr-gray-100);
}
.input:hover {
  border-color: var(--clr-primary);
}
.input:focus {
  border-color: var(--clr-primary-dark);
}

.input.error {
  border-color: var(--clr-system-danger);
}
