.cell {
  /* width: 197px;
  height: 197px;
  padding: 10px;
  gap: 10px; */

  width: 218.33px;
  height: 218.33px;
  background-color: var(--clr-gray-white);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell.blocked {
  cursor: not-allowed;
}
.cell:hover {
  background-color: var(--clr-gray-50);
}

.cell.winX {
  background-color: #cfede6;
}
.cell.winO {
  background-color: #f3bbd0;
}
