.tab a {
  padding: 4px 12px;
  border-radius: 200px;
  background-color: var(--clr-gray-white);
  font-weight: 500;
}

.tab a:hover {
  background-color: var(--clr-gray-50);
}

.tab a.active {
  background-color: var(--clr-primary);
  color: var(--clr-gray-white);
}
