header {
  position: fixed;
  /* width: -webkit-fill-available; */
  width: 100%;
  height: 64px;
  left: 0;
  top: 0;

  background: var(--clr-gray-white);
  box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
  border-radius: 0px 0px 16px 16px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  gap: 10px;
}

.nav-panel {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}
