.status {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-gray-white);
  text-align: center;
  width: 100%;
}

.status-M {
  padding: 4px 12px;
  height: 32px;
  border-radius: 6px;
}
.status-S {
  padding: 4px;
  height: 24px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.25px;
}

.status.available {
  background-color: #a8d37f;
}

.status.blocked {
  background-color: #ec7777;
}
.status.playing {
  background-color: #87cae8;
}

.status.unavailable {
  background-color: var(--clr-gray-100);
  color: var(--clr-gray-700);
}

/* content */
/* .status.unavailable::before {
  content: 'Вне игры';
}
.status.available::before {
  content: 'Свободен';
}
.status.blocked::before {
  content: 'Заблокирован';
}
.status.playing::before {
  content: 'Играет';
} */
