.backdrop.close {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.backdrop.open {
  display: none;
}
.modalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;
  position: relative;
  background: var(--clr-gray-white);
  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 16px;
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

.modal-addUser {
  padding: 24px 24px 40px;
  width: 400px;
  height: 412px;
}
.modal-addUser form {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;
}
.modal-winner {
  padding: 40px 24px;
  width: 400px;
  text-align: center;
}

.modal-notification {
  padding: 40px 24px;
  width: 400px;
  text-align: center;
}

.btn-close {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 352px;
  height: 24px;
  cursor: pointer;
}
.input-row {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  width: 352px;
  height: 80px;
}
.input-set {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  height: 80px;
}
.input-set .label {
  font-weight: 500;
}
.input-set.name {
  width: 352px;
}

.input-set.age {
  width: 72px;
}

.input-set.age > input {
  width: 100%;
}
.input-set.gender {
  width: 104px;
}

.radio-set {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 104px;
  height: 48px;
}

input[type='radio'] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
input[type='radio'] > label > img {
  width: 32px;
  height: 32px;
}
input[type='radio'] + label > img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  gap: 10px;
  width: 48px;
  height: 48px;
  background: #60c2aa;
  border-radius: 1000px;
}

input[type='radio']:checked + label > img {
  border: 1px solid var(--clr-primary);
  background: #fff;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
}
